# Exclude venv
.venv/

# Exclude Python cache
**/__pycache__/
*.pyc
*.pyo

# Exclude CSV files
*.csv
# -----------------------------
# Python virtual environments
# -----------------------------
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Data files (downloaded)
# -----------------------------
data/raw/
data/clean/clean_data.csv

# intermediate files
data/tmp/

# Large datasets
*.csv
*.zip
*.parquet
# Allow docs in data/clean (override above)
!data/clean/docs/clean_data_dictionary.*

# -----------------------------
# Jupyter notebook checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# MacOS nonsense
# -----------------------------
.DS_Store

# -----------------------------
# VSCode settings
# -----------------------------
.vscode/
